* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
    font-family: 'Courier New', Courier, monospace;
}
body {
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    border: 1px solid white;
    width: 95%;
    max-width: 620px;
    height: 98vh;
    max-height: 1020px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}
.heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 0 5%;
    padding: 10px;
}
.heading span{
    padding: 0px 5px ;
    background: rgba(225,225,225,0.2);
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: default;
}
.heading span:active {
    transform: scale(0.9);
}
.heading span:first-child {
    background: orangered;
}
.heading span:last-child {
    background: transparent;
    font-size: 0.3;
    padding: 2px 5px;
}
.heading.hisT span:last-child {
    background: orangered;
    
}
.heading.hisT span:first-child {
    background: rgba(225,225,225,0.2);
}

.histCalcFlex {
    flex: 1 0 85%;
    width: 200%;
    display: flex;
    transition:  .4s ease;
    
}
.histCalcFlex > section {
    flex: 1 0 50%;
    /* border: 1px solid white; */
}
.container.historyArea .histCalcFlex {
    transform: translate(-50%);
}
.calculator {
    display: flex;
    flex-direction: column;
}
.answerScreen {
    flex: 1 0 25%;
    border: none;
    position: relative;
}
.answerScreen .answerFlex {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    /* border: none; */
    
}
.answerScreen .answerFlex textarea {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: right;
    background-color: transparent;
    padding: 0 ;
    outline: none;
    overflow: hidden;
    transition: .1s ease;
    line-height: 1.5;
    color: white;
    border: none;
    resize: none;
    word-wrap: break-word;
}
.answerScreen .answerFlex .questionInput {
    flex: 1 0 70%;
    font-size: 2.1rem;
    line-height: 1.5;
    
}
.answerScreen .answerFlex .answerInput {
    flex: 1 0 45%;
    font-size: 1.3rem;
    padding: 0;
    color: rgb(94, 94, 94);
}
.answerFlex.equalClickEvent .questionInput {
    flex: 1 0 45%;
    font-size: 1rem;
    color: rgb(94, 94, 94);
}
.answerFlex.equalClickEvent .answerInput {
    flex: 1 0 70%;
    font-size: 2.1rem;
    padding: 0 0 0px;
    color: white;
    line-height: 1;
}
.btnContainer {
    border-top: 1px solid rgb(156, 156, 156);
    flex: 1 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background: black;
}
.btnContainer > div {
    display: flex;
    flex: 0 0 15%;
    justify-content: space-around;
}


.btnContainer > div > input,#delBtn {
    /* cursor: pointer; */
    font-size: 2rem;
    flex: 0 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px 15px;
    color: white;
    border: 1px  none;
}
.btnContainer > div > input:active,#delBtn:active {
    background: rgba(225,225,225,0.2);
    transform: scale(0.9);
}
div.row1.orange input {
    color: rgb(255, 95, 36);
}
div.orange input:last-child,#delBtn {
    color: orangered;
}
#delBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding: 10px 15px 10px 10px;
}
.btnContainer > div > input,#delBtn {
    background-color: rgba(225,225,225,0.1);
}
#orangeBg {
    background-color: rgb(255, 68, 0);
}
.history {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.history > h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex: 0 0 5%;
}
.historyContainer {
   /* display: none; */
   /* background-color: green; */
    overflow: scroll;
    flex: 1 0 100px;
    /* height: 40px; */
    padding: 15px 00px;
    position: relative;
}
.historyContainer::-webkit-scrollbar {
    display: none;
}
.history ul {
    margin: 30px 10px;
    list-style-type: none;
}
.history ul li:first-child {
    font-size: 1.4rem;
}
.history ul li:last-child {
    font-size: 1.1rem;
}



